* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font: poppins;
}

#main{
  width: 100vh;
  height: 35vh;
  position: relative;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 6px 28px 0 rgba(0, 0, 0, 0.04);
}

.logo img{
  height:80px;
}

.menu{
  list-style: none;
  display: flex;
}

.menu li a{
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 25px;
  display: flex;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: grey;
  
}

a{
  text-decoration: none;
}

.hey{
  color: #1eccf7;
  font-weight: 500;
  font-size: 1.5em;
  border-bottom: 2px solid #1eccf7;
}

.image{
  height: 500px;
  width: 500px;
}

.image img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  
}

.content{
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 50%;
  right: 50%;
  transform: translate(-50%,-50%);
}

.main-text{
  width: 700px;
  margin: 0px;
  padding: 0px;
  text-align: top;
}

.main-text h1{
  font-size: 3.8em;
  color: #1c3548;
  margin: 0px, 0px, 10px, 0px;
  line-height: 65px;
}

.main-text p{
  color: grey;
  font-size: 22px;
  line-height: 30px;
  
}

.main-text a{
  width: 190px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500px;
  letter-spacing: 0.1em;
  background-color: #1eccf7;
  border-radius: 20px;
  box-shadow: 5px, 10px, 30px rgba(24, 139, 119, 0.21);
}

.main-text a:hover {
  background-color: #1eccf7;
  transition: all ease 0.2s;
}

.menu li a:hover {
  background-color: #1eccf7;
  color: white;
  box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2);
  transition: all ease 0.2s;
}